= form_for @kit do |f|
  - if @kit.errors.any?
    #error_explanation
      %h2= "#{pluralize(@kit.errors.count, "error")} prohibited this kit from being saved:"
      %ul
        - @kit.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
