.row
  .col
    %h1 Kits
.row
  .col
    %table.table.table-sm
      %thead
        %tr
          %th INCOMING
          %th UNBUILT
          %th FINISHED
          %th Total
      %tbody
        %tr
          %td
            - pending = KitInstance::Status::PENDING_DELIVERY
            = link_to KitInstance.where(status: pending).count, kits_path(status: pending)
          %td
            - owned = KitInstance::Status::OWNED
            = link_to KitInstance.where(status: owned).count, kits_path(status: owned)
          %td
            - built = KitInstance::Status::BUILT
            = link_to KitInstance.where(status: built).count, kits_path(status: built)
          %td= link_to KitInstance.count, kits_path
.row
  .col
    = link_to 'Create a new kit', new_kit_path
.row
  .col
    %table.table.table-striped.table-sm
      %thead
        %tr
          %th Name
          %th Quantity
          %th Scale
          %th Materials
          %th Producers
          %th Kit lines
          %th
          %th

      %tbody
        - @kits.each do |kit|
          %tr
            %td
              = link_to kit.name, kit_path(kit)
            %td= kit.quantity
            %td= kit.scale_name
            %td
              - kit.materials.each do |material|
                = link_to material.name, material_path(material)
            %td
              - kit.producers.each do |producer|
                = link_to producer.name, producer_path(producer)
            %td
              - kit.kit_lines.each do |kit_line|
                = link_to kit_line.name, kit_line_path(kit_line)
            %td= link_to 'Edit', edit_kit_path(kit), class: 'btn btn-sm btn-outline-primary'
            %td= button_to 'Destroy', kit, class: 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' }

