.row.mt-2
  .col.col-md-10
    %h1= @kit.name
  .col
    = link_to 'Edit', edit_kit_path(@kit), class: 'btn btn-sm btn-outline-primary mb-1 float-start'
    = button_to 'Destroy', @kit, class: 'btn btn-sm btn-outline-danger float-end', method: :delete, data: { confirm: 'Are you sure?' }

.row.mt-4
  .col
    %h3 Producers
    %ul
      - @kit.producers.each do |producer|
        %li= link_to producer.name, producer_path(producer)
  .col
    %h3 Kit lines
    %ul
      - @kit.kit_lines.each do |kit_line|
        %li= link_to kit_line.name, kit_line_path(kit_line)
  .col
    %h3 Designers
    %ul
      - @kit.designers.each do |designer|
        %li= link_to designer.name, designer_path(designer)
  .col
    %h3 Source materials
    %ul
      - @kit.source_materials.each do |source_material|
        %li
          %a{href: source_material_path(source_material)}
            = source_material.name
            %code= source_material.slug

.row.mt-4
  .col
    %h3 Quantity
    %p= @kit.quantity
  .col
    %h3 Materials
    %ul
      - @kit.materials.each do |material|
        %li= link_to material.name, material_path(material)
  .col
    %h3 Related kits
    %ul
      - @kit.kit_links.each do |rk|
        %li= link_to rk.name, kit_path(rk)

.row
  .col
    %h3 Notes
    %p= @kit.notes

.row.mt-2
  .col
    %h3 Copies of this kit
    .row
      - @kit.kit_instances.persisted.each do |ki|
        .col.col-md-4.mt-1
          .border.border-2.rounded.mx-1.p-2
            = bootstrap_form_for(ki) do |f|
              = f.select :status, KitInstance::STATUSES.keys
              = f.label :location
              - location_options = Location.pluck(:id, :name).map {|id, name| { value: id, label: name }}
              = render('multi_select', name: 'kit_instance[location_id]', current_value: ki.location_id, collection: location_options)
              = f.text_area :notes
              = f.submit 'Update', class: 'btn btn-outline-primary btn-sm float-start'
            = button_to 'Destroy', ki, class: 'btn btn-sm btn-outline-danger float-end', method: :delete, data: { confirm: 'Are you sure?' }
            .clearfix

.row.mt-4
  .col
    %h3 Add another copy of this kit
    = bootstrap_form_for(@kit_instance) do |f|
      - if @kit_instance.errors.any?
        #error_explanation
          %h2= "#{pluralize(@kit_instance.errors.count, "error")} prohibited this kit_instance from being saved:"
          %ul
            - @kit_instance.errors.full_messages.each do |message|
              %li= message
      = f.hidden_field :kit_id
      = f.select :status, KitInstance::STATUSES.keys
      = f.text_area :notes
      = f.submit 'Save copy', class: 'btn btn-outline-primary'

