.row
  .col
    %h1 Designers
.row
  .col
    = link_to 'Create a new designer', new_designer_path
.row
  .col
    %table.table.table-striped.table-sm
      %thead
        %tr
          %th Name
          %th

      %tbody
        - @designers.each do |designer|
          %tr
            %td= designer.name
            %td= link_to 'Show', designer, class: 'btn btn-sm btn-outline-primary'
            %td= link_to 'Edit', edit_designer_path(designer), class: 'btn btn-sm btn-outline-primary'
            %td= button_to 'Destroy', designer, class: 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' }

